@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
 }
 
#made{
    position:fixed;
    right:10px;
    bottom:10px;
    font-weight: bold;
    color:darkblue;
}
body{
    background-color:aquamarine;
    font-family:'나눔고딕',sans-serif;
    font-weight:bold;
    text-align:center;
}
div#container{
    position: relative;
    width: 200;
    height: 200;
}
div#timer{
    position: absolute;
    width: 100%;
    top:calc(50% - 15pt);
    text-align: center;
    color:black;
    font-size: 30pt;
    font-family: 'digital-7';
    font-weight: bold;
    
}
div#time{
    color:darkcyan;
    
}
div#list{
    border-style:dashed;
    border-width: 2px;
    max-width: 100px;
    border-color: lightskyblue;
    margin-left:auto;
    margin-right: auto;
}
#box{
    
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: lightslategray;
    max-width:200px;
    margin-left:auto;
    margin-right: auto;
}
