#made{
    position:fixed;
    right:10px;
    bottom:10px;
    font-weight: bold;
    color:darkblue;
}
body{
    background-color:aquamarine;
    font-family:'나눔고딕',sans-serif;
    font-weight:bold;
    text-align:center;
}
div#timer{
    color:red;
    font-size: large;
    font-weight: bold;
    
}
div#time{
    color:darkcyan;
    
}
div#list{
    border-style:dashed;
    border-width: 2px;
    max-width: 100px;
    border-color: lightskyblue;
    margin-left:auto;
    margin-right: auto;
}
#box{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: lightslategray;
    max-width:200px;
    margin-left:auto;
    margin-right: auto;
}